In [3]:
import numpy as np
x = np.arange(10, 20)
y = np.array([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])
r = np.corrcoef(x, y)
r

array([[1.        , 0.75864029],
       [0.75864029, 1.        ]])

In [6]:
import ujson as json
import pandas as pd

records = map(json.loads, open('./_raw/1_1632810784368_0_glassnode__metrics_addresses_sending_to_exchanges_count.data'))
df = pd.DataFrame.from_records(records)
df

                         t       v
0     2009-01-03T00:00:00Z       0
1     2009-01-04T00:00:00Z       0
2     2009-01-05T00:00:00Z       0
3     2009-01-06T00:00:00Z       0
4     2009-01-07T00:00:00Z       0
...                    ...     ...
4281  2020-09-23T00:00:00Z  117861
4282  2020-09-24T00:00:00Z  103034
4283  2020-09-25T00:00:00Z  123832
4284  2020-09-26T00:00:00Z   82629
4285  2020-09-27T00:00:00Z   79008

[4286 rows x 2 columns]